
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  } 

body {
  background-color: #ffffff;
}

h2 {
  color: #B95C3B;
  font-weight: bold;
  font-size: 25px;
}

h3{
  color: #F6906C;
}

h5{
  color: #000000;
}

/* Home section */
.dot-1 {
  height: 22px;
  width: 22px;
  background-color: #B95C3B;
  border-radius: 50%;
  display: inline-block;
  /*add padding*/
}
.dot-2 {
  height: 22px;
  width: 22px;
  background-color: #FFC7A0;
  border-radius: 50%;
  display: inline-block;
}
.dot-3 {
  height: 22px;
  width: 22px;
  background-color: #FFC7A0;
  border-radius: 50%;
  display: inline-block;
}

a {
  color: #B95C3B
}
a:hover {
  color: #FFC7A0;
}
a:link {
  text-decoration: none;
}

/* learn: conditional css? like when it clicks, it should be a different color (menu bar, home section dots, selecting available times)*/

.section-home {
  background: #FFFFFF;
  margin: 0px;
  /* width: 1980px;
  height: 660px; */
}

.section-useit {
  background: #F5F5DC;
  background-position: right-top;
  margin: 0px;
  /* width: 1700px;
  height: 600px; */
}

/* Contact section */
.section-contactus {
background-color: #F6906C;
margin: 0px;
/* width: 1700px;
height: 350px; */
}

/* Footer section */
.footer {
  background-color: #B95C3B;
  margin: 0px;
  /* width: 1700px;
  height: 50px; */
}

.name-input {
  border-radius: 10px;
  color: #FFFFFF;
}

.date-input {
  border-radius: 10px;
  color: #FFFFFF;
}

.email-input {
  border-radius: 10px;
  color: #FFFFFF;
}

.message-input {  
  border-radius: 10px;
  color: #FFFFFF;
}

h5 {
  color: white;
}

.button {
  color: #F5F5DC;
  border: 2px solid #B95C3B;
  text-align: left;
  font-size: 10px;
  border-radius: 10px;
  color: #FFFFFF;
}
/* end contact section */

.section-aboutus {
  background-color: #FFC7A0;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-bottom: 5px;
  /* width: 1700px;
  height: 350px; */
}

.img-description {
  position: absolute;
  top: 50%;
  left: 0%;
  background: #F6906C;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

/* .Eteam:hover .img-description {
  visibility: visible;
  opacity: 1;
}

.Mteam:hover .img-description {
  visibility: visible;
  opacity: 1;
} */

.team:hover .overlay {
  opacity: 1;
}

.aboutUsText{
  display: flex;
  flex-direction: column;
}


menu{
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F5F5DC;
}

li {
  float: left;
}

li a {
  display: block;
  color: #B95C3B;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #F5F5DC;
}


